* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Baloo 2', cursive;
  font-family: 'Rowdies', cursive;
}
.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.banner-text ul {
	height: 50px;
	float: right;
}
.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}
.banner-text ul li:hover {
	cursor: pointer;
}
.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 20%;
}
.animation-area {
  align-items: center;
	background: linear-gradient(to left, #ff00bf, #ff3300);
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 8s;
}
.box-area li:nth-child(6) {
	left: 45%;
	width: 60px;
	height: 60px;
	animation-delay: 3.5s;
}

.box-area li:nth-child(7) {
	left: 80%;
	width: 25px;
	height: 25px;
	animation-delay: 11s;
}

.box-area li:nth-child(8) {
	left: 20%;
	width: 10px;
	height: 10px;
	animation-delay: 16s;
}

.box-area li:nth-child(9) {
	left: 30%;
	width: 70px;
	height: 70px;
	animation-delay: 14s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
    opacity: 1;
	}
  50% {

    opacity: 0.7;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
    opacity: 0;
	}
}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}


.container {
  width: 800px;
  position: relative;
  top: 50px;
  margin:auto;
  margin-bottom: 50px;
  text-align: center;
  padding: 50px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.2);
}

ul {
  list-style-type: none;
}

h2 {
  color: rgb(227, 250, 16);
}

h3 {
  color: rgb(0, 195, 255);
}


h1 {
  color: rgb(0, 255, 200);
  position: relative;
  top: 50px;
}

#profile-pic {
  width: 200px;
  position: relative;
  height: 200px;
  border-radius: 100px;
  object-fit: none;
  object-position: 60% 55%;
  box-shadow: 0 10px 30px rgb(0, 119, 255);
  border: 5px solid rgb(72, 255, 0);
}

#profile-pic:hover {
  border: 5px solid red;
}

a {
  text-decoration: none;
  font-size: 100px;
  letter-spacing: 10px;
  color: black;
}

a:hover{
  color:cornsilk
}
